# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore environment files
.env
venv/

# Ignore system files
.DS_Store

# Ignore log files
*.log

# Ignore Python notebook checkpoints
*.ipynb_checkpoints
