# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore environment files
.env
venv/

# Ignore system files
.DS_Store

# Ignore log files
*.log

# Ignore large tensors
*.pt
*.pth

# Ignore Python notebook checkpoints
*.ipynb_checkpoints
